@tailwind base;
@tailwind components;
@tailwind utilities;

.short-line {
  background-color: #5546ff;
  height: 4px;
  width: 60px;
  margin: 0 auto;
}

.long-line {
  background-color: #5546ff;
  height: 4px;
  width: 120px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
}

.title {
  font-family: "Roboto", sans-serif;
}

.name-project {
  font-family: "Open Sans", sans-serif;
}

.description-project {
  font-family: "Montserrat", sans-serif;
}

.button-navigation {
  font-family: "Roboto", sans-serif;
}
